/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,900&display=swap');

.bold{
    font-weight: 400;
}
/* Colores */
.bg1{
  background-color: #AD272D !important;
}

.bg2{
  background-color: #333333 !important;
}

.bg3{
  background-color: #D7DADB !important;
}


.color1{
  color:#AD272D;
}
.color2{
  color: #333;
}
.color3{
    color: #D7DADB;
}
/* Personalizacion */

body{
  font-family: 'Raleway', sans-serif;
  color: #919191;
  font-size: 1.2rem;
}


#top-navbar .top-bar{
    background-color: #AD272D;
}
#top-navbar .top-bar i{
    color: #fff;
    margin-right: .5em;
}
#top-navbar #top-search{
    background-color: #333333;
    color: #fff;
}
#menu_navbar{
  background-color:#fff;
}

#menu_navbar .nav-link{
  font-size: 13px;
  color: #919191;
  border-bottom: none;
  transition: all .5s ease;
  padding: 13px;
  height: 30px;
  cursor: default;
  margin:0 5px;
}

#nav-logo{
  height: 45px;
}

.nav_contact{
  font-size: 13px;
  color:#808080;
}

#menu_navbar .nav-item.active a,
#menu_navbar .nav-item:hover a.nav-link{
  color:#fff;

}
#menu_navbar .nav-item.active ,
#menu_navbar .nav-item:hover{
  color:#fff;
  background-color: #AD272D;
  padding-bottom: .5em;
}


footer .menu{
    background-color: #333333;
    color: #fff;
}

footer .list-group .list-group-item{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: .2rem 1.25rem;
}




/* Media Queries */
@media only screen and (min-width: 764px) {
  #index-carousel .carousel-item {
    height:calc(100vh - 100px);
    width: 100%;
    margin: auto;
    margin-top: 2em;
    background: no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



}
@media only screen and (min-width: 1024px) {


}
@media only screen and (min-width: 1440px) {

}
