/* Fuentes */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.bold {
    font-weight: 700;
}
.sp2 {
    letter-spacing: 0.1em;
}
/* Colores */
.bg1 {
    background-color: #ad272d !important;
}

.bg2 {
    background-color: #4d4d4d !important;
}

.bg3 {
    background-color: #d7dadb !important;
}

.color1 {
    color: #ad272d;
}
.color2 {
    color: #333;
}
.color3 {
    color: #d7dadb;
}
/* Personalizacion */

body {
    font-family: "Montserrat", sans-serif;
    color: #919191;
    font-size: 1rem;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 85vh;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-sidebar {
    width: 310px;
    position: fixed;
    top: 0;
    left: -310px;
    height: 100vh;
    z-index: 1055;
    background: rgba(0, 0, 0, 0);
    color: #000;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar-productos {
    width: 310px;
    position: fixed;
    top: 0;
    left: -310px;
    height: 100vh;
    z-index: 1056;
    background: rgba(0, 0, 0, 0);
    color: #000;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active,
#sidebar-productos.active {
    left: 0;
}

.sidebar-header {
    background-color: rgba(255, 255, 255, 0.9);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1054;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
#main-container {
    padding-top: 7rem !important;
}

.menu-sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

/* body::-webkit-scrollbar {
    display: none;
  } */

#top-navbar .top-bar {
    background-color: #ad272d;
}
#top-navbar .top-bar i {
    color: #fff;
    margin-right: 1em;
}
#top-navbar #top-search {
    background-color: #333333;
    color: #fff;
}

.form-navbar input {
    background-color: #444444;
    border: none;
    border-radius: 1em 0em 0em 1em;
    color: #fff;
}
.form-navbar .input-group-append button {
    background-color: #444444;
    border: none;
    border-radius: 0em 1em 1em 0em;
    color: #fff;
}
.form-navbar .input-group-append button::hover,
.form-navbar .input-group-append button::active,
.form-navbar .input-group-append button::focus {
    background-color: #444444;
    border: none;
    border-radius: 0em 1em 1em 0em;
    color: #fff;
}

#menu_navbar {
    background-color: #fff;
}

#menu_navbar .nav-link {
    font-size: 0.75rem;
    font-weight: 900;
    color: #000;
    border-bottom: none;
    transition: all 0.5s ease;
    height: 30px;
    cursor: default;
    text-transform: uppercase;
}

#nav-logo {
    height: 3em;
}

.nav_contact {
    font-size: 13px;
    color: #808080;
}

#menu_navbar .nav-item.active a,
#menu_navbar .nav-item:hover a.nav-link {
    color: #ad272d;
    cursor: pointer;
}
#menu_navbar .nav-item.active,
#menu_navbar .nav-item:hover {
    color: #ad272d;
    cursor: pointer;
    /* background-color: #ad272d; */
}

#productsCollapse{
    background-color: #F8F8F8;
}

#productsCollapse .category-title{
   font-size: .75em;
   color: #000;
}

#productsCollapse .collapse-product-name{
    font-size: .7em;
    color: #000;
}


#v-menu-tabContent .row{
    max-height: 400px;
    overflow-y: scroll;
}

.menu-product-foto {
    height: 10em;
    width: 90%;
    object-fit: cover;
    border: 5px solid #fff;
    display: block;
}

.zoom-container{
    position: relative;
    overflow:hidden
}
.zoom:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.taggd__wrapper{
    border:2pt solid #ff272ee6;
    border-radius: 50%;
}
.taggd__popup{
    background-color: #ad272d;
    border-radius: 10%;
    color: #fff;
    width: auto;
    padding: .5em;
    font-size: 1em;
    white-space: nowrap;
    z-index: +2;
}

#v-menu-tab a small,
#v-menu-tab a span {
    color: #000;
}


#v-menu-tab a span svg{
    fill: #000;
}
#v-menu-tab a:hover small,
#v-menu-tab a:hover span,
#v-menu-tab a.active small,
#v-menu-tab a.active span {
    color: #ad272d;
    background-color: #F8F8F8;
}

#v-menu-tab a.active span svg{
    fill: #ad272d;
}

#v-menu-tab a.active,
#v-menu-tab a.active {
    color: #ad272d;
    background-color: #F8F8F8;
}

#contact_group {
    position: fixed;
    right: 0;
    bottom: 30%;
    z-index: 9999;
}

#menuModal a.menu-link {
    color: #000;
    font-weight: 900;
}

.pav-pill {
    padding: 0.5em 1em;
    border: none;
    border-radius: 1.5em;
    font-size: 1em;
}
.pav-pill.red,
.pav-pill.white.active,
.pav-pill.white:hover {
    background-color: #ad272d;
    color: #fff;
}

.pav-pill.white {
    color: #000;
    background-color: #fff;
}
.pav-pill.distribuidores {
    color: #000;
    background-color: #fff;
}
.pav-pill.gray {
    color: #fff;
    background-color: #4d4d4d;
}

.accordion > .card:not(:last-of-type) {
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.accordion > .card:not(:first-of-type) {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

footer .menu {
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url("../img/mid_background.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
}

footer .list-group .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.3rem 0;
}

.menu-sociales-footer a {
    margin-right: 1.5em;
}

img.aplications-article{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.aplications-product-container{
    max-height: 75vh;
    overflow: scroll;
}


.aplications-product-container .nav-link.active{
    background-color: rgba(0, 0, 0, 0);
}
.row.subtitle {
    background-color: #ad272d;
    background-image: url("../img/mid_background.jpg");
    background-blend-mode: multiply;
    background-position: center;
    height: 30vh;
}

.row.productos-text {
    background-color: #d4d4d49a;
    background-image: url("../img/productos-text.jpg");
    background-position: bottom center;
}

.row.products {
    background-image: url("../img/productos_banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.row.aplications {
    background-image: url("../img/aplicaciones.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
.row.noticias {
    background-image: url("../img/noticias.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.product-pic-carousel {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.pagination li a {
    color: #000;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ad272d;
    border-color: #ad272d;
}

.form-distribuidores-container {
    background-image: url("../img/fondo-forma-distribuidores.jpg");
    background-blend-mode: multiply;
}

/* nosotros */
.nosotros-title {
    margin-top: -150px;
}
.nosotros-title h2 {
    font-size: 2em;
}
.sucursal {
    font-size: 0.8em;
}
/* home */

#pav-welcome h1 {
    font-size: 1.2em;
    color: #000;
    margin-top: 1em;
    letter-spacing: 0.1em;
}

#pav-welcome a.btn {
    color: #fff;
    padding: 0.3em 2em;
    border-radius: 0;
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
}

#pav-welcome ul li {
    text-decoration: none;
    text-align: left;
    padding: 0.5em 0em 0.5em 5em;
    border: 0;
}
#pav-welcome ul li::before,
h1.indicator::before,
h2.indicator::before,
h3.indicator::before,
h4.indicator::before,
h5.indicator::before,
h6.indicator::before {
    content: ">";
    color: red;
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: 900;
    font-size: 1.2rem;
}

img.logo-grupo {
    height: 1.7em;
    margin: 0em 0.5em;
}

.welcome-img-link img{
    width: 200px !important;
    height: 200px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    object-fit: cover;
    text-align:center;
    margin: auto;
}
.button-carousel-welcome{
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); */
}

.index-product-image {
    border: 5px solid #fff;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
    margin-bottom: 2em;
}

#v-proyects-tab {
    background-color: #fff;
    padding: 0;
}

#v-proyects-tab .nav-link {
    background-color: #d7dadb;
    color: black;
    font-size: 13pt;
    border: 1pt 0pt;
    border-style: solid;
    border-color: #fff;
    width: 100%;
    margin: 0.1em 0em;
}

.recursos-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


.product-category-title{
    font-size: .8em;
    letter-spacing: .01em;
}

.product-article-pic{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: auto;
}

/* Media Queries */
@media only screen and (max-width: 764px) {
    .welcome-img-link img {
        width: 80%;
        border: 5px solid #fff;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    .nosotros-title {
        margin-top: -50px;
    }
}
@media only screen and (max-width: 1024px) {
    #top-navbar .top-bar i {
        color: #fff;
        margin-right: 1em;
    }
    #nav-logo {
        height: 60px;
    }
}
@media only screen and (max-width: 1440px) {
}
