/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.bold {
    font-weight: 700;
}
.sp2{
    letter-spacing: .1em;
}
/* Colores */
.bg1 {
    background-color: #ad272d !important;
}

.bg2 {
    background-color: #1D1D1B  !important;
}

.bg3 {
    background-color: #d7dadb !important;
}

.color1 {
    color: #ad272d;
}
.color2 {
    color: #333;
}
.color3 {
    color: #d7dadb;
}
/* Personalizacion */

body {
    font-family: "Montserrat", sans-serif;
    color: #919191;
    font-size: 1rem;
}


.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    max-height: 85vh;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* body::-webkit-scrollbar {
    display: none;
  } */

#top-navbar .top-bar {
    background-color: #ad272d;
  
}
#top-navbar .top-bar i {
    color: #fff;
    margin-right: 1em;
}
#top-navbar #top-search {
    background-color: #333333;
    color: #fff;
}

#top-search form input {
    background-color: #444444;
    border: none;
    border-radius: 1em 0em 0em 1em;
    color: #fff;
}
#top-search form .input-group-append button {
    background-color: #444444;
    border: none;
    border-radius: 0em 1em 1em 0em;
    color: #fff;
}
#top-search form .input-group-append button::hover,
#top-search form .input-group-append button::active,
#top-search form .input-group-append button::focus {
    background-color: #444444;
    border: none;
    border-radius: 0em 1em 1em 0em;
    color: #fff;
}

#menu_navbar {
    background-color: #fff;
}

#menu_navbar .nav-link {
    font-size: 0.75rem;
    font-weight: 900;
    color: #000;
    border-bottom: none;
    transition: all 0.5s ease;
    height: 30px;
    cursor: default;
    text-transform: uppercase;
}

#nav-logo {
    height: 3em;
}

.nav_contact {
    font-size: 13px;
    color: #808080;
}

#menu_navbar .nav-item.active a,
#menu_navbar .nav-item:hover a.nav-link {
    color: #ad272d;
}
#menu_navbar .nav-item.active,
#menu_navbar .nav-item:hover {
    color: #ad272d;
    /* background-color: #ad272d; */
}

.menu-product-foto{
    height: 5em;
    width: 100%;
    object-fit: cover;
    border: 5px solid #fff;
}


#aplicaiones-menu {
    border-top: #ad272d 1em;
}

#product-dropdown-area {
    width: 100vw;
}
#contact_group {
    position: fixed;
    right: 0;
    bottom: 30%;
}

#menuModal a.menu-link {
    color: #000;
    font-weight: 900;
}

.pav-pill{
    padding: .5em 1em;
    border: none;
    border-radius: 1.5em;
    font-size: 1em;
}
.pav-pill.red,
.pav-pill.white.active,
.pav-pill.white:hover{
    background-color: #ad272d;
    color: #fff;
}

.pav-pill.white{
    color: #000;
    background-color: #fff;
}
.pav-pill.gray{
    color: #fff;
    background-color: #4D4D4D;
}

footer .menu {
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url("../img/mid_background.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
}
footer {
    font-size: 0.85em;
}

footer .list-group .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.3rem 1.25rem;
}

.row.subtitle {
    background-color: #ad272d;
    background-image: url("../img/mid_background.jpg");
    background-blend-mode: multiply;
    background-position: center;
    height: 30vh;
}

.row.productos-text {
    background-color: #d7dadb;
    background-image: url("../img/mid_background.jpg");
    background-blend-mode: multiply;
    background-position: bottom center;
}


.row.products {
    background-image: url("../img/productos_banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.row.aplications {
    background-image: url("../img/aplicaciones.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
.row.noticias {
    background-image: url("../img/noticias.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.product-pic-carousel{
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.pagination li a {
    color: #000;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ad272d;
    border-color: #ad272d;
}

/* nosotros */
.nosotros-title{
    margin-top: -150px;
}
.nosotros-title h2{
    font-size: 2em;
}

/* home */

#pav-welcome h1 {
    font-size: 1.2em;
    color: #000;
    margin-top: 1em;
    letter-spacing: .1em;
}

#pav-welcome a.btn {
    color: #fff;
    padding: 0.3em 2em;
    border-radius: 0;
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
}

#pav-welcome ul li {
    text-decoration: none;
    text-align: left;
    padding: 0.5em 0em 0.5em 5em;
    border: 0;
}
#pav-welcome ul li::before,
h1.indicator::before,
h2.indicator::before,
h3.indicator::before,
h4.indicator::before,
h5.indicator::before,
h6.indicator::before,
footer h1::before,
footer h2::before,
footer h3::before,
footer h4::before,
footer h5::before,
footer h6::before {
    content: ">";
    color: red;
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: 900;
    font-size: 1.2rem;
}

img.logo-grupo {
    height: 1.7em;
    margin: 0em 0.5em;
}

.welcome-img-link{

}

.welcome-img-link img{
    max-width: 250px;
    border: 5px solid #fff;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .4);
    margin:auto;
    margin-bottom: 2em;
}


#v-proyects-tab {
    background-color: #fff;
    padding: 0;
}

#v-proyects-tab .nav-link {
    background-color: #d7dadb;
    color: black;
    font-size: 13pt;
    border: 1pt 0pt;
    border-style: solid;
    border-color: #fff;
    width: 100%;
    margin: 0.1em 0em;
}

/* Media Queries */
@media only screen and (max-width: 764px) {


    .welcome-img-link img{
        max-width: 150px;
        border: 5px solid #fff;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, .4);
        margin:auto;
        margin-bottom: 2em;
    }
}
@media only screen and (max-width: 1024px) {
    #top-navbar .top-bar i {
        color: #fff;
        margin-right: 1.25em;
    }
    #nav-logo {
        height: 60px;
    }
}
@media only screen and (max-width: 1440px) {
}
